[Unit]
Description=DIY Dynamic DNS Server
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/python3 /opt/diydydns/server.py --port 8080 --ip-file /var/www/html/myip.txt
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
