[Unit]
Description=DIY Dynamic DNS Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
EnvironmentFile=/etc/diydydns/client.conf
ExecStart=/usr/bin/python3 /opt/diydydns/client.py --server ${SERVER} --remote-path ${REMOTE_PATH} --interval ${INTERVAL}
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
